.container {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  perspective: 1000px;
  border: solid 2px;
  
}

.feed-in {
  animation-name: feedIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes feedIn {
  0% {
    transform: translateZ(0px);
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  100% {
    transform: translateZ(0) ;
    opacity: 1;
    width: 90%;
    height: 90%;
  }
}
