.side-by-side {
  width: 50%;
  
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.controls-container {
    width: 100%;
    background-color: aqua;
  display: flex;
  flex-direction: center; /* Update to column layout */
  align-items: center;
}